/Mark Stamp - Information Security_ Principles and Practice   (2011, John Wiley and Sons) - libgen.lc.pdf
/Slides
HomeWork/Homework 1/Homework 1 - Casper Kristiansson.docx
HomeWork/Homework 2/Homework 2.docx
Principles of Cybersecurity Midterm.docx
HomeWork/Homework 2/windows-guide.pdf
HomeWork/Homework 2/.vscode
finale2019.pdf
midtermmock.pdf
HomeWork/Homework 3/Principles of Cybersecurity HW3.docx
final-2022-q.pdf
Principles of Cybersecurity Final.docx
